body {
    overflow: overlay;
}

/* width */
::-webkit-scrollbar {
    width: 8px;
    height: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #626262; 
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #00CCCC; 
}